---
layout: default
title: About Me
---

<div class="about-page">
  <div class="bio-container">
    <img src="../images/profile_cool.png" class="user-image" alt="My Profile Photo">
    <div class="user-bio">
      <p><strong>Hey there!</strong> I am a Developer and Digital Consultant from the United States doing freelance work and currently residing in Berlin, Germany.</p>
      <p>As a creator and a maker. I love taking ideas and making them a reality. From user testing to building great products, digging in and make things happen is what drives me.</p>
    </div>
  </div>
  <br/>
  <p><strong>Currently, I'm actively working with these technologies:</strong></p>
  <div class="skills-list">
    <i class="skill devicon-meteor-plain tooltip"><span class="tooltiptext">Meteor</span></i>
    <i class="skill devicon-react-original tooltip"><span class="tooltiptext">React-Native</span></i>
    <i class="skill devicon-mongodb-plain tooltip"><span class="tooltiptext">MongoDB</span></i>
    <i class="skill devicon-javascript-plain tooltip"><span class="tooltiptext">Javscript</span></i>
    <i class="skill devicon-html5-plain tooltip"><span class="tooltiptext">HTML5</span></i>
  </div>

  <p>When I'm not building something, I'm probably on the lookout for great books, better adventures, and the best eats.</p>

  <p><strong>{ I'm currently available for work on select projects }</strong></p>
  <p>Feel free to connect and reachout. Thanks for visiting!</p>
</div>


<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->